//格式化时间搓
function formatDate(time) {
  var date = getDate(time);
  var y = date.getFullYear();
  var m = date.getMonth() + 1;
  m = m < 10 ? ('0' + m) : m;
  var d = date.getDate();
  d = d < 10 ? ('0' + d) : d;
  var h = date.getHours();
  h = h < 10 ? ('0' + h) : h;
  var minute = date.getMinutes();
  var second = date.getSeconds();
  minute = minute < 10 ? ('0' + minute) : minute;
  second = second < 10 ? ('0' + second) : second;
  return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
}
//截取字符串
function wordSubstring(val,length){
  return val.length > length ? val.substring(0, length - 1) + "..." : val;
}
function getParentName(val){
  val = val.toString();
  return val[0]?val[0]:''
}
module.exports = {
  formatDate: formatDate ,
  wordSubstring: wordSubstring,
  getParentName: getParentName,
}

